.productCard {
    /* display: flex;
    justify-content: left;
    align-items: center;   */
    margin: 10pt;
    border-radius: 2pt;
    border-width:2pt;
    border-style:solid;
    border-color:grey;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: lightgrey;   
    display: inline-block; /* Stop full width */
}

.productCardImageLink {
    
}

.productCardImage {
    
}

.productCardName {
    
}

.productCardPriceContainer {
    display: flex;
    justify-content: left;
    align-items: center;
}

.productCardRegularPrice {
    text-decoration: none
}

.productCardOldPrice {
    text-decoration: line-through;
}

.productCardSalePrice {
    color: red;
}

.productCardSaleLabel {
    color: black;
}

.productCardDescription {

}