.ProductCardContainer {
    /* display: flex;
    justify-content: left;
    align-items: center;   */
    border-width:2px;
    border-style:solid;
    border-color:red
}

.productCard {
    border-width:2px;
    border-style:solid;
    border-color:black;
}

.productCardImageLink {
       
}

.productCardImage {
    
}

.productCardName {
    
}

.productCardPriceContainer {
    display: flex;
    justify-content: left;
    align-items: center;
}

.productCardRegularPrice {
    text-decoration: none
}

.productCardOldPrice {
    text-decoration: line-through;
}

.productCardSalePrice {
    color: red;
}

.productCardSaleLabel {
    color: gold;
}

.productCardDescription {

}